<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.orange.carloan.adminmag.mapper.IAdminMapper">
  
<resultMap type="AdminBean" id="AdminMap">
		<id property="id" column="id" javaType="int"/>
		<result property="userName" column="username" javaType="java.lang.String"/>
		<result property="password" column="password" javaType="java.lang.String"/>
		<result property="realName" column="realname" javaType="java.lang.String"/>
		<association property="roleId" javaType="RoleBean" 
			column="role_id" select="getRoleById"></association> 
		<association property="companyId" javaType="CompanyBean"
			column="company_id" select="org.orange.carloan.contractinformationmag.mapper.ContractInformationMapper.findCompanyByCompanyId"></association>
		<collection property="logs" javaType="LogBean"
			 column="id" select="getLogById"></collection>
		<!-- 管理员与订单的多对多 -->
	</resultMap> 
	
	<select id="findByName" resultMap="AdminMap">
	select * from t_admin where username=#{adminName}
	</select>
	
	<select id="findById" resultMap="AdminMap">
	select * from t_admin where id=#{id}
	</select>
	
	<select id="getRoleById" parameterType="int" resultType="RoleBean">
	  select id as id,rolename as roleName from t_role where id=#{id}
	</select>
	
	
	<select id="getLogById" parameterType="int" resultType="LogBean">
      select id,adminname,date,content from t_log where admin_id=#{id}	
	</select>


</mapper>