<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.orange.carloan.adminmag.mapper.IAdminMapper">
  
<resultMap type="AdminBean" id="AdminMap">
		<id property="id" column="id"/>
		<result property="userName" column="username" javaType="java.lang.String"/>
		<result property="password" column="password" javaType="java.lang.String"/>
		<result property="realName" column="realname" javaType="java.lang.String"/>
		<association property="roleId" javaType="RoleBean" 
			column="role_id" select="getRoleById"></association> 
		<association property="companyId" javaType="CompanyBean"
			column="company_id" select="org.orange.carloan.contractinformationmag.mapper.ContractInformationMapper.findCompanyByCompanyId"></association>
		<collection property="logs" ofType="LogBean"
			 column="id" select="getLogById"></collection>
		<!-- 管理员与订单的多对多 -->
	</resultMap> 
	
	<select id="findByName" resultMap="AdminMap">
	select * from t_admin where username=#{adminName}
	</select>
	
	<select id="findById" parameterType="int" resultMap="AdminMap">
	select * from t_admin where id=#{id}
	</select>
	
	<select id="getRoleById" parameterType="int" resultType="RoleBean">
	  select id ,rolename roleName from t_role where id=#{id}
	</select>
	
	
	<select id="getLogById" parameterType="int" resultType="LogBean">
      select id,date,content from t_log where admin_id=#{id}	
	</select>

	<select id="findAdminByRoleName" resultMap="AdminMap">
		select a.* from t_admin a left join t_role r on a.role_id = r.id where r.rolename = #{roleName}
	</select>
	<select id="findAdminByMap" parameterType="java.util.Map" resultMap="AdminMap">
		select a.id, a.username,a.password,a.role_id,a.company_id,a.realname
		from t_admin a left join t_role r on a.role_id = r.id left join t_company c on a.company_id = c.id 
		<where>
			<if test="rolename!=null">
				r.rolename like concat('%',#{rolename},'%')
			</if>
			<if test="companyName!=null">
				c.companyName like concat('%',#{companyName},'%')
			</if>
		</where>
		limit #{index},#{size}
	</select>
	<select id="findAdminSizeByMap" parameterType="java.util.Map" resultType="int">
		select count(a.id)
		from t_admin a left join t_role r on a.role_id = r.id left join t_company c on a.company_id = c.id 
		<where>
			<if test="rolename!=null">
				r.rolename like concat('%',#{rolename},'%')
			</if>
			<if test="companyName!=null">
				c.companyName like concat('%',#{companyName},'%')
			</if>
		</where>
	</select>

</mapper>