<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.orange.carloan.userMessagemag.mapper.IUserMessageMapper">
<resultMap type="UserMessageBean" id="usermessageMap">
		<result property="id" column="id" /> 
		<result property="address" column="address" />
		<result property="applyDate" column="applydate" />
		<result property="borrowPurpose" column="borrowpurpose" />
		<result property="channel" column="channel" />
		<result property="clientType" column="clienttype" />
		<result property="commissioner" column="commissioner" />
		<result property="companyAddress" column="companyaddress" />
		<result property="companyName" column="companyname" />
		<result property="companyPhone" column="companyphone" />
		<result property="companySize" column="companysize" />
		<result property="dept" column="dept" />
		<result property="duty" column="duty" />
		<result property="education" column="education" />
		<result property="employment" column="employment" />
		<result property="happenTime" column="happentime" />
		<result property="hasChild" column="haschild" />
		<result property="houseType" column="housetype" />
		<result property="income" column="income" />
		<result property="marry" column="marry" />
		<result property="maxdeadline" column="maxdeadline" />
		<result property="maxlimit" column="maxlimit" />
		<result property="minlimit" column="minlimit" />
		<result property="partner" column="partner" />
		<result property="place" column="place" />
		<result property="repayment" column="repayment" />
		<result property="saleName" column="salename" />
		<result property="telephone" column="telephone" />
		<result property="unitNature" column="unitnature" />
		<result property="userPhone" column="userphone" />
		<result property="zipCode" column="zipcode" />
		
		<association property="userAdjunctBean" javaType="UserAdjunctBean"
			column="useradjunct_id" select="findUserAdJunctById"></association>
		
		<association property="contractInformationBean" javaType="ContractInformationBean"
			column="id" select="org.orange.carloan.contractinformationmag.mapper.ContractInformationMapper.findContractInformationByUserMessageId"></association>
	</resultMap>
	
		<select id="findUserMessageByUserMessageId" parameterType="int" resultMap="usermessageMap">
 		select * from t_usermessage where id=#{id} 
 	</select>

	<select id="findUserMessageByContractId" parameterType="int" resultMap="usermessageMap">
 		select u.* from t_usermessage u left join t_contractinformation c on  c.id=#{id} 
 	</select>
 	
 	<select id="findUserAdJunctById" parameterType="int" resultType="UserAdjunctBean">
		select id,id_card Idcard,carLoan_form carLoanFrom,ather_adjunct atherAdjunct
			 from t_useradjunct where id = #{id}
	</select>
</mapper>